<section class="infoSection">
    <section class="boxOfText">
      {% include ossjLogo.html %}
      <h3>Open Source San Jose Non Profit 501c3 Federal EIN is 99-4612294</h3>
      <p>Code for the people by the people</p>
      <p>If any community member has a technical project idea, needs website, app, clarity of services, not intended currently make money but to serve the community, Open Source San Jose is who to reach out to. We joined this community group to sustain the org since we feel it is very important for Non profits and community members to get the technical services they need or clarity on the services/tools they currently have in use.</p>
    </section>
  </section>