  <section class="infoSection">
    <section class="boxOfText">
      {% include comingSoon.html date=2027 %}
      {% include titdLogo.html %}
      <h3>New Pixel art Tower Defense Game</h3>
      <p>New pixel are tower defense game, inspired by Warcraft 3 Frozen Throne, Animal Crossing, and our own backyard gardening experiences. Grow your garden, defend what you grow, grow to heal regions of the map from infestations. </p>
      <p>To be determined...</p>
      <p>Kickstarter in the planning and setup phase.</p>
    </section>
  </section>