 <section class="infoSection">
    <section class="boxOfText">
      {% include comingSoon.html date=2026 %}
      {% include ylfmLogo.html %}
      <h3>Your Local Farmers Market</h3>
      <p>Are you able to answer these questions</p>
      <ol>
        <li>When is your local farmers market?</li>
        <li>Where is your local farmers market?</li>
        <li>What vendors are at your local farmers market?</li>
        <li>Did a vendor bring spinach?</li>
      </ol>
      <p>We understand how many people go to their local farmers market and love to support their farmer neighbors. At JMStudios we shop as local as possible when we can as well as grow our own food. We have also been apart of community gardens who have done fresh harvest to local market to get extensive experience on more than just the customer side of a farmers market.</p>
      
    </section>
  </section>