.header {
    height: 4rem;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgba(23, 29, 58, 1);

    a {
        color: white;
        text-decoration: none;
    }
}